services:
  # PostgreSQL Database
  db:
    image: ankane/pgvector:latest # pgvector 확장자가 포함된 PostgreSQL 이미지
    container_name: moduway-db
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    # DB 헬스체크(백엔드 실행 조건으로 사용)
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - moduway-net

  # Elasticsearch (검색 & 벡터 서치)
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.11.1
    container_name: moduway-es
    environment:
      - discovery.type=single-node # 싱글노드 설정
      - xpack.security.enabled=false # 보안 비활성화. #TODO 운영 시 활성화 필요
      - "ES_JAVA_OPTS=-Xms4g -Xmx4g"  # 메모리 제한 (로컬용)
      - TZ=${TZ:-Asia/Seoul}
    ports:
      - "9200:9200"
    volumes:
      - es_data:/usr/share/elasticsearch/data
    networks:
      - moduway-net
    # 한글 형태소 분석기(nori) 설치를 위한 커맨드 설정
    command: >
      /bin/sh -c "./bin/elasticsearch-plugin list | grep -q analysis-nori 
      || ./bin/elasticsearch-plugin install analysis-nori;
      /usr/local/bin/docker-entrypoint.sh elasticsearch"

  # Backend (Django)
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: moduway-backend
    restart: always
    volumes:
      - ./backend:/app #TODO 로컬 코드 변경 반영용. 운영 환경에서는 제거 필요
      - ./data:/data  # courses 데이터 파일 접근을 위한 볼륨 마운트
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy # db가 완전히 준비된(healthy) 후 실행
      elasticsearch:
        condition: service_started
    env_file:
      - .env
    networks:
      - moduway-net
    # 마이그레이션 시 vector 확장 설치여부 확인 후 gunicorn 서버 실행
    # URL 형식을 사용하여 psql이 네트워크를 통해 db 컨테이너에 접속하도록 수정
    command: >
      sh -c "python manage.py makemigrations && 
             psql postgresql://$${POSTGRES_USER}:$${POSTGRES_PASSWORD}@db:5432/$${POSTGRES_DB} -c 'CREATE EXTENSION IF NOT EXISTS vector;' &&
             python manage.py migrate && 
             gunicorn --bind 0.0.0.0:8000 --timeout 600 config.wsgi:application"

  # Frontend (Vue.js + Nginx)
  frontend:
    build:
      context: ./frontend/project-moduway
      dockerfile: Dockerfile
    container_name: moduway-frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - moduway-net

volumes:
  postgres_data:
  es_data:

networks:
  moduway-net:
    driver: bridge
